
.div1{
  text-align: right;
  }
  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #ccc;

  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
  }
  .textoEstilizado {
    flex: 1;
    text-align: right;
    font-size: 10px;
  }
img{
  text-align: left;
  width: 57.372px;
  height: 27.285px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

